/* this is the styles.css for the index.html file for a dummy post website*/
body{
  padding: 15px;
  font-family:arial, Sans-Serif
}
.title {
	color: #5C6AC4;
	height:25vh;
	width:100vw;
	position:fixed;
	line-height:25vh;
	
	top:0vh;
	left:0vw;
	font-size:2.8rem;
	letter-spacing:0.8vw;
	padding:1px;
}
#currentTime{
  border:5px solid #5C6AC4;
  background-color: #000;
  color: #FFF;
  letter-spacing: 0.4vw;
  width:100vw;
  position:fixed;
  top:27vh;
  left:0vw;
}
h3{
  line height:1vh;

}
.container{
  position:fixed;top:34.5vh;left:0vw;
  display:flex;
  
  
}

.post-box{
  background-color:#5C6AC4;
  padding:3vw;
  width:29.8vw;
}

.post-catalog{
  position:fixed;
  top:35vh;left:30vw;
  width:30vw;
  height:45vh;
  overflow:scroll;
  border:1px solid #5C6AC4;
}
.postRuleBox{
  position:fixed;
 line-height: 2.7vh;
  border:1px solid #5C6AC4;
  top:50vh;
  left:0vw;
  background-color:#f1f1f1;
  width:30vw;
  height:29.998vh;
}
  
.post {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
